body {
    padding: 10px;
}


.myGrid {
    /* display: grid; */
    /* padding: 20px; */
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 10px; */
    /* grid-template-columns: 50%; */
    text-align:center;
}

.textBox {
    border:2px solid #A9A9A9;
    margin:1cm;
    padding:.5cm;
}

.textBox:hover {
    outline:5px solid #AAAAAA;
}

h1 {
    color: red;
    border: 1px solid #A9A9A9;
}

.results {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 30% 30% 30%;
}

button {
    margin: 3px;
}

img {
    max-width:100%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
