body {
    padding: 10px;
}


.myGrid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 35% 40%;
    text-align:right;
}

.textBox {
    border:2px solid #A9A9A9;
    margin:1cm;
    padding:.5cm;
}

.textBox:hover {
    outline:5px solid #AAAAAA;
}

h1 {
    color: red;
    border: 1px solid #A9A9A9;
}

.results {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 30% 30% 30%;
}

button {
    margin: 3px;
}

img {
    max-width:100%;
}