{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="results">
        {% for listing in listings %}
        <div class="textBox">
            <a href="{% url 'listing_page' listing.id %}"><h3>{{listing.title}}</h3></a>
            <p>{{listing.description}} </p>
            <h4>Current Price: Rs. {{listing.current_bid}} </h4>
            {% if listing.image %}
                <img src="{{listing.image}}" style="width:70%;height:auto">
            {% endif %}
            {% if listing.category %}
                <p>Category : {{listing.category}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}